GEMINI_API_KEY=
EXPO_PUBLIC_GEMINI_API_KEY=

# Direct service URLs for production builds
EXPO_PUBLIC_ASR_API_URL=https://whisper-service-health-194975005212.europe-west4.run.app/transcribe
EXPO_PUBLIC_TTS_API_URL=https://akan-tts-194975005212.europe-west4.run.app
